page-home {
  ion-card {
    position: relative;
    text-align: center;
    border-radius: 20px;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  .card-ios,
  .card-md {
    margin: 15px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 50px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -4px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -4px rgba(0, 0, 0, 1);
  }
  .card-md h2 {
    color: #FEC841;
  }
}

